{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style1.css" />
    <link rel="stylesheet" href="{% static 'css/style1.css' %}" />
    <title>Meeting WebApp</title>
  </head>
  <body>
    <div class="main-section">
      <div class="header">
        <div class="logo">
          <h2> Welcome, {{ user.username }}</h2>
        </div>
        <ul>
          <li><a href="" class="active">Dashboard</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </div>
      <div class="hero-section">
        <h1>My Meetings Dashboard</h1>
        <div class="button">
          <a href="{% url 'create-meeting' %}" class="btn">Create Meeting</a>
          <a href="{% url 'retrieve-meeting' %}" class="btn">View Upcoming Meetings</a>
          <a href="{% url 'past-meetings' %}" class="btn">View Past Meetings</a>
        </div>
      </div>
    </div>
  </body>
</html>
